body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #fff;
  font-size: 15px;
  color: #121920;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h4, h5 {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.section__heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  color: #121920;
  margin-bottom: 30px;
}
@media (max-width: 770px) {
  .section__heading {
    font-size: 28px;
  }
}

.header {
  background: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 378px) {
  .header {
    padding: 0 0 41px 0;
    position: relative;
  }
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 80px;
}

.header__form {
  display: inline-flex;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  padding: 7px 10px;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 378px) {
  .header__form {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.header__input {
  width: 100%;
  border: 0;
  font-size: 16px;
}
.header__input:focus {
  outline: none;
}
.header__input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #BBC4D6;
}

.header__input_icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  order: -1;
  cursor: pointer;
}
.header__input_icon path {
  transition: all 0.1s ease-in-out;
}
.header__input_icon:hover path {
  stroke: #566072;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 19px;
  min-height: 100%;
  border-left: 1px solid #EBEBF1;
  text-decoration: none;
  color: #768298;
}
.header__profile:hover {
  text-decoration: underline;
}
.header__profile:focus {
  color: rgb(12, 17, 21);
}
@media (max-width: 378px) {
  .header__profile {
    border-left: none;
    padding: 0;
  }
}

.header__profile_name {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
}
.header__profile_name:focus {
  color: #121920;
}
@media (max-width: 378px) {
  .header__profile_name {
    display: none;
  }
}

.header__profile_photo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.header__profile_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 378px) {
  .header__profile_photo {
    display: none;
  }
}

.header__profile_icon {
  display: none;
}
@media (max-width: 378px) {
  .header__profile_icon {
    display: block;
  }
}

.partners {
  padding: 70px 0 0 0;
}

.partners__wrapper {
  display: flex;
  align-items: stretch;
  align-content: space-between;
  flex-flow: row wrap;
  gap: 30px;
}
@media (max-width: 768px) {
  .partners__wrapper {
    gap: 20px;
  }
}

.partners__item {
  width: 23%;
  padding: 28px 18px;
  height: 120px;
  background: #fff;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.partners__item img {
  max-width: 100%;
  max-height: 100%;
}
.partners__item:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}
.partners__item:last-child {
  margin: 0;
}
@media (max-width: 1173px) {
  .partners__item {
    width: 22.9%;
  }
}
@media (max-width: 1100px) {
  .partners__item {
    width: 22.5%;
  }
}
@media (max-width: 925px) {
  .partners__item {
    width: 22.2%;
  }
}
@media (max-width: 826px) {
  .partners__item {
    width: 22%;
  }
}
@media (max-width: 770px) {
  .partners__item {
    width: 31%;
  }
}
@media (max-width: 600px) {
  .partners__item {
    width: 30%;
  }
}
@media (max-width: 425px) {
  .partners__item {
    width: 29.5%;
  }
}
@media (max-width: 376px) {
  .partners__item {
    width: 100%;
    height: 140px;
  }
}
